.btn {
    margin-top: 20px;
    margin-left: auto;
    display: block !important;
}
.item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 20px;
    padding-right: 0;
    font-size: 14px;
    cursor: pointer;
    transition: border 0.3s ease;
    border-left: 1px solid var(--dark-bg-color);

    &.active {
        border-left: 1px solid var(--accent-color);
    }
    &.completed {
        &::before {
            content: '✓ ';
        }
    }
}
.backBtn {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.drawerBtn {
    position: fixed;
    right: 30px;
    bottom: 40px;
}
