.wrapper {
    background-color: var(--bg-color);
    padding: 30px;
}
.space {
    margin-bottom: 20px;
}
.actions {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.select {
    width: 300px;
}
