.fullWidth {
    width: 100%;
}
.halfWidth {
    flex: 0 0 50%;
}
.row {
    display: flex;
    & > p {
        cursor: pointer;
        flex: 0 0 50%;
        padding: 10px;
        margin: 1px;
        border: 1px solid var(--dark-bg-color);
        &.active {
            border: 1px solid var(--accent-color);
        }
    }
    &.finished {
        border: 1px solid var(--accent-color);
    }
    &:not(:last-child) {
        margin-bottom: 1px;
    }
}
