.form {
    width: calc(100vw - 20px);
    max-width: 400px;
    margin: 10px;
    margin-bottom: 100px !important;
    @media (max-width: 767px) {
        margin-bottom: 60px !important;
    }
}
.formWrapper {
    min-height: calc(100vh - 104px);
    display: flex;
    align-items: center;
    justify-content: center;
}
