.space {
    margin-bottom: 20px !important;
}
.item {
    flex-direction: column;
    align-items: stretch !important;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.titleBlock {
    flex: 1 1 auto !important;
}
