.space {
    display: flex !important;
}
.titleInput {
    flex: 1 1 auto !important;
}
.subItem {
    display: flex !important;
    width: 100% !important;
}
.subItemTitle {
    justify-content: space-between !important;
    width: 100% !important;
}
