.wrapper {
    background-color: var(--bg-color);
    padding: 30px;
}
.space {
    margin-bottom: 20px;
}
.link {
    @media (any-hover: hover) {
        &:hover img {
            transform: scale(1.05);
        }
    }
    img {
        transition: transform 0.3s ease;
    }
}
